<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <title>
            Gyazo Workspace
        </title>
    </head>
    <div>
        <a href="/">Gyazo の認証が完了しました</a>
    </div>
</html>